@each $key, $value in $bmx-borders {
    .bmx-border-#{$key} {
        border-width: $value !important;
    }

    .bmx-border-#{$key}-hover {
        &:hover {
            border-width: $value !important;
        }
    }
}

@each $color, $value in $bmx-colors {
    .bmx-border-#{$color} {
        border-color: $value !important;
    }

    .bmx-border-#{$color}-hover {
        &:hover {
            border-color: $value !important;
        }
    }
}
