@each $color, $value in $bmx-colors {
    .bmx-btn-#{$color} {
        @include button-variant($value, $value);
    }
}

@each $color, $value in $bmx-colors {
    $textColor: $white;

    @if $color == 'white' {
        $textColor: $black;
    }

    .bmx-btn-outline-#{$color} {
        @include button-outline-variant($value, $textColor);
    }
}

.bmx-btn-form-control {
    font-family: $input-font-family;
    @include font-size($input-font-size);
    font-weight: $input-font-weight;
    line-height: $input-line-height;
    color: $input-color;
    background-color: $input-bg;
    background-clip: padding-box;
    border: $input-border-width solid $input-border-color;
}
