.bmx-overflow-x-hidden {
    overflow-x: hidden;
}

.bmx-overflow-y-hidden {
    overflow-y: hidden;
}

.bmx-overflow-x-scroll {
    overflow-x: scroll;
}

.bmx-overflow-y-scroll {
    overflow-y: scroll;
}
