@each $key, $value in $bmx-font-sizes {
    .bmx-fs-#{$key} {
        font-size: $value;
    }
}

@each $key, $value in $bmx-font-weights {
    .bmx-fw-#{$key} {
        font-weight: $value;
    }
}

@each $key, $value in $bmx-line-heights {
    .bmx-lh-#{$key} {
        line-height: $value;
    }
}

.bmx-f-mono {
    font-family: $bmx-mono-font-family;
}
